    <div class="container-fluid">
        <div id="home" class="row align-items-center hero scroll_section">
            <div class="col-lg-5">
                <p style="font-size: 25px; color: black;">Accesorios</p>
                <h1 style="font-size: 40px; color: black;">CHAMI</h1>
                <p style="font-size: 15px;">Completa tu look con nuestros accesorios de moda y destaca tu estilo único
                    en cada ocasión</p>
            </div>
        </div>
    </div>
    
    <div class="separator"></div>
    <div class="container overflow-hidden text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 d-inline-block"><strong>ENVIO GRATIS</strong> <br>A partir de 20.000</div>
            </div>
            <div class="col">
                <div class="p-3 d-inline-block"><strong>RETIRO GRATIS EN TIENDA</strong> <br>Descubri tu tienda
                    mas cercana</div>
            </div>
            <div class="col">
                <div class="p-3 d-inline-block"><strong>CAMBIOS Y DEVOLUCIONES</strong> <br>Sin cargo</div>
            </div>
        </div>
    </div>
    <div id="productos" class="separator scroll_section">
    <div class="container mt-3">
        <div class="row">
            <div class="col text-center">
                <div class="product-info">
                    <h5>Aros Circulares</h5>
                    <div class="product-image-container">
                        <img src="/images/aros circulares.jpg" alt="Aros Circulares">
                        <button class="btn btn-primary overlay-button text-center"><i class="bi bi-cart-plus"></i>
                            Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="product-info">
                    <h5>Aros Rosa</h5>
                    <div class="product-image-container">
                        <img src="/images/aros rosa.jpg" alt="Aros Rosa">
                        <button class="btn btn-primary overlay-button text-center"><i class="bi bi-cart-plus"></i>
                            Agregar al carrito</button>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="product-info">
                    <h5>Aros Blancos</h5>
                    <div class="product-image-container">
                        <img src="/images/Aros blancos copia.jpg" alt="Aros Blancos">
                        <button class="btn btn-primary overlay-button text-center"><i class="bi bi-cart-plus"></i>
                            Agregar al carrito</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="container mt-3">
            <div class="row">
                <div class="col text-center">
                    <div class="product-info">
                        <h5>Aros Amarillos</h5>
                        <div class="product-image-container">
                            <img src="/images/aros yellow.jpg" alt="Aros Amarillos">
                            <button class="btn btn-primary overlay-button text-center"><i class="bi bi-cart-plus"> 
                            </i>
                                Agregar al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="product-info">
                        <h5>Aros Brillos</h5>
                        <div class="product-image-container">
                            <img src="/images/aros brillos copia.jpg" alt="Aros Brillos">
                            <button class="btn btn-primary overlay-button text-center"><i class="bi bi-cart-plus"> 
                            </i>
                                Agregar al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="product-info">
                        <h5>Aros piedra</h5>
                        <div class="product-image-container">
                            <img src="/images/aros piedras.jpg" alt="Aros Piedras">
                            <button class="btn btn-primary overlay-button text-center"><i class="bi bi-cart-plus"> 
                            </i>
                                Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>        
            <div class="separator"></div>
            <div class="container">
                <strong>
                <div class="separator"></div>
                <div class="float-start">Suscribite a la comunidad</div>
                <div class="float-end">Completa tus datos y accede a un 15% de descuento</div><br>
                <div class="float-end">Av Santa Fe 1990</div>
                <div class="separator"></div>
                </strong>
            </div>
            <div class="separator"></div>
            <div id="puntos de venta" class="mapa scroll_section">
                <h4>PUNTOS DE VENTA</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.375843754753!2d-58.40487472488523!3d- 34.594656457018615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9092150027%3A0x9424edd2d210c62!2sAv.%20Sta.%20Fe%202500%2C%20C1015%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires%2C%20Argentina!5e0!3m2!1ses!2sbr!4v1717189178503!5m2!1ses!2sbr" ></iframe>
            </div>
            <div class="separator"></div>
            
            <form class="row g-3" action="/" method="post">
                    <h2 class="text-center w-100">COMUNIDAD</h2>
                    <div class="col-md-4">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre">
                    </div>
                    <div class="col-md-4">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido">
                    </div>
                    <div class="col-md-4">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com">
                    </div>
                    <div class="col-md-12 mb-3">  
                            <label for="mensaje" class="form-label">mensaje</label>
                            <textarea class="from-control" id="mensaje" name="mensaje" rows="7"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    {{message}}
            </form>
           
